@import url("reset.scss");


html,body,#app {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --el-menu-text-color: white !important;
    --el-menu-hover-text-color: white !important;
    --el-menu-bg-color: #001529 !important;
    --el-menu-hover-bg-color: rgb(0 17 33) !important;
    --el-menu-active-color: yellowgreen !important; 
    --el-menu-level: 0 !important;
}